body {
  font-family: "Poppins", sans-serif;
  color: lightseagreen;
}
li {
  list-style-type: none;
}

h3 {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}
button {
  display: inline;
  margin: 0 auto;
  background: lightseagreen;
  color: #fff;
  padding: 2px 2px;
}
